@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
	.paymentform {
		max-width: 800px;
		background-color:whitesmoke;
		padding:20px;
	}

</style>

<div class="paymentform">
	<h3>Response back from https://sandbox.bluesnap.com/services/2/transactions</h3>
	<h3>transaction has been posted to Bluesnap</h3>
	<p>@ViewData["Res"]</p>

</div>
