@model EmbeddedCheckoutFormModel
@using Microsoft.AspNetCore.Components.Web


@{
    string HOSTEDFIELDTOKENID =
            "eyJhbGciOiJIUzI1NiJ9.eyJwYXlsb2FkIjp7ImNvbW1vbkp3dFBheWxvYWQiOnsiaWQiOiIxMjUyNTc3NjY1MTQzNDQ5Mzc4MTM1MzciLCJkYXRlQ3JlYXRlZCI6MTYyNzI4ODE1NzIxMH0sIm1lcmNoYW50SWQiOjkxMzIwOSwic2VudHJ5Ijp7Im1lcmNoYW50IjpmYWxzZSwiYXBwcyI6W119fX0.Ie-lWweAceEYBhMKA1TsSgxI1yBFFbatr-tBA266Qyg._";
    string firstname = "Someone";
    string lastname = "JustExample";
    string amount = "10";
    string currency = "EUR";

    ShopperData shopperData = new ShopperData(firstname, lastname);
    var jsonData = new EmbeddedCheckoutFormModel(HOSTEDFIELDTOKENID, amount, currency, shopperData);
    @* this.SetUpBS(); *@
}

@functions{
    void SetUpBS()
    {
        Console.WriteLine("Set up got triggered");
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button onclick="openEmbeddedCheckout()">check out</button>

