@model EmbeddedCheckoutFormModel
@using Microsoft.AspNetCore.Components.Web
@section JavaScript{
        <script type="text/javascript" src="https://sandbox.bluesnap.com/web-sdk/4/bluesnap.js"></script>
}

@{
    string HOSTEDFIELDTOKENID =
            "eyJhbGciOiJIUzI1NiJ9.eyJwYXlsb2FkIjp7ImNvbW1vbkp3dFBheWxvYWQiOnsiaWQiOiIxMjUyNTc3NjY1MTQzNDQ5Mzc4MTM1MzciLCJkYXRlQ3JlYXRlZCI6MTYyNzI4ODE1NzIxMH0sIm1lcmNoYW50SWQiOjkxMzIwOSwic2VudHJ5Ijp7Im1lcmNoYW50IjpmYWxzZSwiYXBwcyI6W119fX0.Ie-lWweAceEYBhMKA1TsSgxI1yBFFbatr-tBA266Qyg._";
    string firstname = "Someone";
    string lastname = "JustExample";
    string amount = "10";
    string currency = "EUR";

    ShopperData shopperData = new ShopperData(firstname, lastname);
    EmbeddedCheckoutFormModel jsonData = new EmbeddedCheckoutFormModel(HOSTEDFIELDTOKENID, amount, currency, shopperData);
    this.SetUpBS();
}

@functions{
    void callbackFunction(dynamic eCheckOutResult){
       Console.WriteLine(eCheckOutResult);
            //this is the action that is called immediately after the shopper clicks the last function "BUY"
            if (eCheckOutResult.code == 1) { // On Success
                // Your code here...
                // This where you need to process the payment via an API request from your server
            }
            else { // On Error (code=10 - invalid jsonData, any other codes are errors, on error 
                if (eCheckOutResult.info) {
                    var errors = eCheckOutResult.info.errors; // will be undefined if no errors have occurred
                    var warnings = eCheckOutResult.info.warnings; // will be undefined if no warnings have occurred
                   Console.WriteLine(errors, warnings);
                }
            }
            bluesnap.embeddedCheckoutClose();
    }
    void SetUpBS()
    {
        Console.WriteLine("Set up got triggered");
        bluesnap.embeddedCheckoutSetup(jsonData, callbackFunction);
    }

    void openEmbeddedCheckout() {
            Console.WriteLine("open check out triggered");
            bluesnap.embeddedCheckoutOpen();
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button onclick="openEmbeddedCheckout()">check out</button>

